<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    哈哈
    <h1>我是2级路由-李白</h1>
    <button @click="getData">点我获取数据</button>
    <button @click="demo">点我获取数据2</button>
    <br />
    <a title="信息展示" href="#" target="_blank" id="#">信息展示</a>
    <br />
    <!-- <a href="http://www.example.com" target="_blank">在新窗口打开网页</a>
    <br/>
    <a href="https://element-plus.org/zh-CN/component/popconfirm.html#%E5%9F%BA%E7%A1%80%E7%94%A8%E6%B3%95">EUI</a><br/> -->
    <a href="https://element-plus.org/zh-CN/" target="_blank">EUI ZH</a>

    <p>
      a标签作用是给html文档中的相关数据设置一种能跳转到其他页面的功能属性，也就是平常我们所说的超链接
      <br />

      link标签的作用是:链接文件，如css或js等，并把链接文件的相关属性设置，应用于html文档中，其中链接的文件发生相应的改变，会影响html页面的呈现效果。
    </p>
    <pre>
      行标签又称内联标签，常见的行标签有span标签,a标签,br标签,i标签,b标签,em标签,strong标签,sup标签,sub标签等。
    targe=_self 默认值，代表在本页面打开。target=_blank 代表在新的标签页打开。

    常见的块标签有div标签,标题（H1-H6）标签,p标签,ul标签,ol标签,li标签等。
    常见的行块标签有img标签、input标签等

    三个标签之间进行相互转换需要用到display
    </pre>

    <p>
      行标签（inline）、块标签（block）和行块标签（inline-block）的特点以及相互之间的转换
    </p>
    <span>2</span>
    <br />
    <span>3</span>
    <span>4</span>
  </body>
</html>
